/*.container{
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    height: 190px;
    width: calc(50% - 20px);
    margin: 10px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }



  .box:nth-child(1){
    background-color: #2196f3;
    background-image: url('./icons/image\ cat');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;

  }

  .box:nth-child(2){
    background-color: #9c27b0;
    background-image: url(./icons/image\ bird);
    background-repeat: repeat-x;
    background-position: center;

  } 

  .box:nth-child(3){
    background-color: #009688;  
    background-image: url(./icons/image\ dog);
    background-repeat: repeat-y;
    background-position: 50px 0px;
  }

  .box:nth-child(4){
    background-color: #3f51b5;
    background-image: url(./icons/image\ turtle);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
  }
  .overlay{
    
  outline: 1px solid black;

  max-width: 1200px;
  height: 400px;

  margin-left: auto;
  margin-right: auto;
  }
    */
  .button{
    display: inline-flex;
    padding: 10px 20px;
    background-color: hotpink;
    border: dashed 6px palevioletred ;

  }

  .button::before{
    content: '';
    margin-right: 10px;
    align-items: center;
   
    width: 25px;
    height: 27px;
    background-color: coral;

  }